* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

body {
  margin: 0;
  font-family: 'Patrick Hand', sans-serif;
  color: #4d4d4d;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.notepad {
  position: relative;
  width: 100vw;
  max-width: 800px;
  padding: 1em;
  bottom: 45px;
}

.title {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.underline {
  width: 125%;
  height: 10px;
  background-color: #f9f3bf;
  border-radius: 10px;
  position: relative;
  bottom: 2.2em;
  z-index: -1;
}

.tabs {
  height: 100px;
  width: 100vw;
  max-width: 800px;
  padding: 1em;
  display: flex;
}

.tab {
  width: calc(100% / 8);
  font-size: 1.2em;
  text-align: center;
  border-radius: 5px 5px 0 0;
  padding: 0.5em 0.5em 1em 0.5em;
  cursor: pointer;
  position: relative;
  bottom: -0.5em;
  transition: 0.1s;
}

.tab:hover {
  position: relative;
  bottom: 0;
}

.mon {
  background-color: #f9f3bf;
}

.tues {
  background-color: #bfeff9;
}

.wed {
  background-color: #f9d2bf;
}

.thurs {
  background-color: #e7cdf9;
}

.fri {
  background-color: #d2f9bf;
}

.sat {
  background-color: #d1d5fa;
}

.sun {
  background-color: #faccd3;
}

.create {
  background-color: white;
}

i {
  margin-right: 0.3em;
}

.table-containers {
  z-index: 1;
}

.table-container {
  width: 100%;
  min-height: 700px;
  border-radius: 0 0 5px 5px;
  padding: 2em;
  z-index: 1;
}

table {
  width: 100%;
  border-spacing: 0;
}

td {
  padding: 0.7em;
}

.td-date {
  margin: 0;
  border-bottom: solid 1.5px #6666;
  border-right: solid 1.5px #6666;
  width: 1.7em;
}

.td-desc {
  margin: 0;
  border-bottom: solid 1.5px #6666;
}
